@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400');
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	src: local('Gilroy'), url('./fonts/Gilroy-Light.woff2') format('woff2'),
		url('./fonts/Gilroy-Light.woff') format('woff'), url('./fonts/Gilroy-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 800;
	src: local('Gilroy'), url('./fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('./fonts/Gilroy-ExtraBold.woff') format('woff'), url('./fonts/Gilroy-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
html {
	font-size: 18px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.45;
	color: #333;
}

p {
	margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 2.75rem 0 1rem;
	font-family: 'Gilroy', sans-serif;
	font-weight: 800;
	line-height: 1.15;
}

h1 {
	margin-top: 0;
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

small,
.text_small {
	font-size: 0.8em;
}
